$palette: (
    accent: (
        1000: rgb(16 25 76 / 100%),
        900: rgb(20 31 95 / 100%),
        800: rgb(26 41 125 / 100%),
        700: rgb(34 53 161 / 100%),
        600: rgb(44 67 207 / 100%),
        500: rgb(48 74 227 / 100%),
        400: rgb(89 110 233 / 100%),
        300: rgb(116 134 236 / 100%),
        200: rgb(160 172 242 / 100%),
        100: rgb(191 199 246 / 100%),
        50: rgb(234 237 252 / 100%),
        30: rgb(245 246 253 / 100%),
    ),
    secondary: (
        1000: rgb(54 54 54 / 100%),
        900: rgb(66 66 66 / 100%),
        800: rgb(87 87 87 / 100%),
        700: rgb(112 112 112 / 100%),
        600: rgb(144 144 144 / 100%),
        500: rgb(158 158 158 / 100%),
        400: rgb(177 177 177 / 100%),
        300: rgb(190 190 190 / 100%),
        200: rgb(210 210 210 / 100%),
        100: rgb(225 225 225 / 100%),
        50: rgb(245 245 245 / 100%),
        30: rgb(250 250 250 / 100%),
    ),
    success: (
        1000: rgb(0 51 41 / 100%),
        900: rgb(0 77 62 / 100%),
        800: rgb(0 101 81 / 100%),
        700: rgb(0 131 105 / 100%),
        600: rgb(0 167 135 / 100%),
        500: rgb(0 184 148 / 100%),
        300: rgb(51 198 169 / 100%),
        400: rgb(84 207 183 / 100%),
        200: rgb(138 222 206 / 100%),
        100: rgb(176 233 222 / 100%),
        50: rgb(230 248 244 / 100%),
        30: rgb(243 251 249 / 100%),
    ),
    warning: (
        1000: rgb(73 57 14 / 100%),
        900: rgb(95 74 18 / 100%),
        800: rgb(124 97 24 / 100%),
        700: rgb(160 126 31 / 100%),
        600: rgb(205 161 40 / 100%),
        500: rgb(225 177 44 / 100%),
        400: rgb(231 193 86 / 100%),
        300: rgb(235 203 114 / 100%),
        200: rgb(241 219 158 / 100%),
        100: rgb(246 231 190 / 100%),
        50: rgb(252 247 234 / 100%),
        30: rgb(253 251 245 / 100%),
    ),
    error: (
        1000: rgb(83 23 19 / 100%),
        900: rgb(102 28 23 / 100%),
        800: rgb(134 37 30 / 100%),
        700: rgb(173 48 38 / 100%),
        600: rgb(222 61 49 / 100%),
        500: rgb(244 67 54 / 100%),
        400: rgb(246 105 94 / 100%),
        300: rgb(248 129 120 / 100%),
        200: rgb(250 169 163 / 100%),
        100: rgb(252 197 193 / 100%),
        50: rgb(254 236 235 / 100%),
        30: rgb(255 245 245 / 100%),
    ),
);
