<section class="c-page c-page__container">
    <nav class="c-page__toolbar">
        <button class="btn btn-sm btn-accent-outline" (click)="addBlock('paragraph')">Add Paragraph</button>
        <button class="btn btn-sm btn-accent-outline" (click)="addBlock('heading1')">Add Heading 1</button>
        <button class="btn btn-sm btn-accent-outline" (click)="addBlock('heading2')">Add Heading 2</button>
        <button class="btn btn-sm btn-accent-outline" (click)="addBlock('heading3')">Add Heading 3</button>
        <button class="btn btn-sm btn-accent-outline" (click)="addBlock('prosCons')">Add Pros & Cons</button>
    </nav>

    <div class="c-page__content">
        <div cdkDropList (cdkDropListDropped)="onDrop($event)">
            @for (block of blocks(); track block) {
                <app-block cdkDrag [block]="block"/>
            }
        </div>
    </div>

    <div class="c-page__footer">
        <router-outlet />
    </div>
</section>
