@let block = this.block();

<div [attr.contenteditable]="isContentEditable()" [attr.data-block-id]="block.id">
    @switch (block.type) {
        @case ('paragraph') {
            <p>{{ block.content }}</p>
        }

        @case ('heading1') {
            <h1>{{ block.content }}</h1>
        }

        @case ('heading2') {
            <h2>{{ block.content }}</h2>
        }

        @case ('heading3') {
            <h3>{{ block.content }}</h3>
        }

        @case ('prosCons') {
            <app-pros-cons />
        }
    }
</div>
